<html>
    <head>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
<body>
<h1>Hi <%= name %></h1>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-primary" >Log Out</button>
</form>
</body>
</html>