<head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body class="container">
    <h1>Register</h1>
    <form action="/register" method="POST" class="form-control">
        <div class="mb-3">
            <input type="name" name="name" id="name" required placeholder="Name" class="form-control">
        </div>
        <div class="mb-3">
            <input type="email" name="email" id="email" required placeholder="Email" class="form-control">
        </div>
        <div class="mb-3">
            <input type="password" name="password" id="password" required placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</body>